USE [THUVIEN]
GO
/****** Object:  Table [dbo].[LICHDAT]    Script Date: 3/29/2021 2:37:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHDAT](
	[MaDat] [char](8) NOT NULL,
	[MaTT] [char](8) NOT NULL,
	[NgayDat] [date] NOT NULL,
	[KhungGio] [nvarchar](20) NOT NULL,
	[TrangThaiLV] [bit] NOT NULL,
	[SoLuongSV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHDATCHITIET]    Script Date: 3/29/2021 2:37:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHDATCHITIET](
	[MaDat] [char](8) NOT NULL,
	[MaSV] [char](12) NOT NULL,
	[TrangThaiDat] [nvarchar](50) NULL,
 CONSTRAINT [PK_LICH] PRIMARY KEY CLUSTERED 
(
	[MaDat] ASC,
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 3/29/2021 2:37:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MaSV] [char](12) NOT NULL,
	[HoTenSV] [nvarchar](50) NOT NULL,
	[Lop] [nvarchar](10) NOT NULL,
	[NgaySinhSV] [date] NOT NULL,
	[GioiTinhSV] [nvarchar](3) NOT NULL,
	[DiaChiSV] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOANSV]    Script Date: 3/29/2021 2:37:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOANSV](
	[MaTKSV] [char](8) NOT NULL,
	[MaSV] [char](12) NOT NULL,
	[MatKhauSV] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTKSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOANTT]    Script Date: 3/29/2021 2:37:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOANTT](
	[MaTKTT] [char](8) NOT NULL,
	[MaTT] [char](8) NOT NULL,
	[MatKhauTT] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTKTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUTHU]    Script Date: 3/29/2021 2:37:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUTHU](
	[MaTT] [char](8) NOT NULL,
	[HoVaTenTT] [nvarchar](50) NOT NULL,
	[NgaySinhTT] [date] NOT NULL,
	[GioiTinhTT] [nvarchar](3) NOT NULL,
	[DiaChiTT] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LICHDAT] ([MaDat], [MaTT], [NgayDat], [KhungGio], [TrangThaiLV], [SoLuongSV]) VALUES (N'T0000001', N'TT000001', CAST(N'2021-04-03' AS Date), N'07:00 - 09:00', 1, 10)
INSERT [dbo].[LICHDAT] ([MaDat], [MaTT], [NgayDat], [KhungGio], [TrangThaiLV], [SoLuongSV]) VALUES (N'T0000002', N'TT000001', CAST(N'2021-04-03' AS Date), N'09:00 - 11:00', 1, 14)
INSERT [dbo].[LICHDAT] ([MaDat], [MaTT], [NgayDat], [KhungGio], [TrangThaiLV], [SoLuongSV]) VALUES (N'T0000003', N'TT000002', CAST(N'2021-04-03' AS Date), N'13:30 - 15:30', 1, 12)
GO
INSERT [dbo].[LICHDATCHITIET] ([MaDat], [MaSV], [TrangThaiDat]) VALUES (N'T0000001', N'181121521000', N'')
INSERT [dbo].[LICHDATCHITIET] ([MaDat], [MaSV], [TrangThaiDat]) VALUES (N'T0000001', N'181121521001', N'')
INSERT [dbo].[LICHDATCHITIET] ([MaDat], [MaSV], [TrangThaiDat]) VALUES (N'T0000001', N'181121521002', N'')
GO
INSERT [dbo].[SINHVIEN] ([MaSV], [HoTenSV], [Lop], [NgaySinhSV], [GioiTinhSV], [DiaChiSV]) VALUES (N'181121521000', N'Lê Phương Mỹ Duyên', N'44K01', CAST(N'2000-05-20' AS Date), N'Nữ', N'SỐ 18 AN TÚ CÔNG CHÚA, PHƯỜNG MỸ AN, NGŨ HÀNH SƠN')
INSERT [dbo].[SINHVIEN] ([MaSV], [HoTenSV], [Lop], [NgaySinhSV], [GioiTinhSV], [DiaChiSV]) VALUES (N'181121521001', N'Trương Nguyên Khoa', N'44K01', CAST(N'2000-04-23' AS Date), N'Nữ', N'215/90 VÕ VĂN KIỆT, PHƯỜNG THANH XUÂN, TP BUÔN MA THUỘT, ĐĂK LĂK')
INSERT [dbo].[SINHVIEN] ([MaSV], [HoTenSV], [Lop], [NgaySinhSV], [GioiTinhSV], [DiaChiSV]) VALUES (N'181121521002', N'Ngô Thị Xuân Thảo', N'44K01', CAST(N'2000-04-03' AS Date), N'Nữ', N'TRUNG THIỆN, DƯƠNG THỦY, LỆ THỦY, QUẢNG BÌNH')
GO
INSERT [dbo].[TAIKHOANSV] ([MaTKSV], [MaSV], [MatKhauSV]) VALUES (N'TK000001', N'181121521000', N'123456')
INSERT [dbo].[TAIKHOANSV] ([MaTKSV], [MaSV], [MatKhauSV]) VALUES (N'TK000002', N'181121521001', N'123456')
INSERT [dbo].[TAIKHOANSV] ([MaTKSV], [MaSV], [MatKhauSV]) VALUES (N'TK000003', N'181121521002', N'123456')
GO
INSERT [dbo].[TAIKHOANTT] ([MaTKTT], [MaTT], [MatKhauTT]) VALUES (N'TKTT0001', N'TT000001', N'11111111')
INSERT [dbo].[TAIKHOANTT] ([MaTKTT], [MaTT], [MatKhauTT]) VALUES (N'TKTT0002', N'TT000002', N'11111111')
INSERT [dbo].[TAIKHOANTT] ([MaTKTT], [MaTT], [MatKhauTT]) VALUES (N'TKTT0003', N'TT000003', N'11111111')
GO
INSERT [dbo].[THUTHU] ([MaTT], [HoVaTenTT], [NgaySinhTT], [GioiTinhTT], [DiaChiTT]) VALUES (N'TT000001', N'Hà Huỳnh Anh', CAST(N'1995-10-20' AS Date), N'Nam', N'25 Nguyễn Công Trứ, Sơn Trà, Đà Nẵng')
INSERT [dbo].[THUTHU] ([MaTT], [HoVaTenTT], [NgaySinhTT], [GioiTinhTT], [DiaChiTT]) VALUES (N'TT000002', N'Trần Minh Nguyệt', CAST(N'1989-06-14' AS Date), N'Nữ', N'106 Chu Huy Mân, Sơn Trà, Đà Nẵng')
INSERT [dbo].[THUTHU] ([MaTT], [HoVaTenTT], [NgaySinhTT], [GioiTinhTT], [DiaChiTT]) VALUES (N'TT000003', N'Lê Thị Ánh Hồng', CAST(N'1992-05-09' AS Date), N'Nữ', N'07 Mỹ An, Ngũ Hành Sơn, Đà Nẵng')
GO
ALTER TABLE [dbo].[LICHDAT] ADD  DEFAULT ((0)) FOR [SoLuongSV]
GO
ALTER TABLE [dbo].[LICHDAT]  WITH CHECK ADD  CONSTRAINT [fkLICHDAT_THUTHU] FOREIGN KEY([MaTT])
REFERENCES [dbo].[THUTHU] ([MaTT])
GO
ALTER TABLE [dbo].[LICHDAT] CHECK CONSTRAINT [fkLICHDAT_THUTHU]
GO
ALTER TABLE [dbo].[LICHDATCHITIET]  WITH CHECK ADD  CONSTRAINT [fkLICHDATCHITIET_LICHDAT] FOREIGN KEY([MaDat])
REFERENCES [dbo].[LICHDAT] ([MaDat])
GO
ALTER TABLE [dbo].[LICHDATCHITIET] CHECK CONSTRAINT [fkLICHDATCHITIET_LICHDAT]
GO
ALTER TABLE [dbo].[LICHDATCHITIET]  WITH CHECK ADD  CONSTRAINT [fkLICHDATCHITIET_SINHVIEN] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SINHVIEN] ([MaSV])
GO
ALTER TABLE [dbo].[LICHDATCHITIET] CHECK CONSTRAINT [fkLICHDATCHITIET_SINHVIEN]
GO
ALTER TABLE [dbo].[TAIKHOANSV]  WITH CHECK ADD  CONSTRAINT [fkTKSV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SINHVIEN] ([MaSV])
GO
ALTER TABLE [dbo].[TAIKHOANSV] CHECK CONSTRAINT [fkTKSV]
GO
ALTER TABLE [dbo].[TAIKHOANTT]  WITH CHECK ADD  CONSTRAINT [fkTHUTHU] FOREIGN KEY([MaTT])
REFERENCES [dbo].[THUTHU] ([MaTT])
GO
ALTER TABLE [dbo].[TAIKHOANTT] CHECK CONSTRAINT [fkTHUTHU]
GO
ALTER TABLE [dbo].[TAIKHOANSV]  WITH CHECK ADD CHECK  (([MatKhauSV]>=(5)))
GO
ALTER TABLE [dbo].[TAIKHOANTT]  WITH CHECK ADD CHECK  (([MatKhauTT]>=(5)))
GO
